@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @apply text-sm;
  @apply text-gray-300;
  @apply bg-customgreys-primarybg;
}

@layer base {
  :root {
    --sidebar-background: theme("colors.customgreys.primarybg");
    --sidebar-foreground: theme("colors.white.50");
    --sidebar-primary: theme("colors.primary.700");
    --sidebar-primary-foreground: theme("colors.white.50");
    --sidebar-accent: theme("colors.customgreys.darkerGrey");
    --sidebar-accent-foreground: theme("colors.customgreys.dirtyGrey");
    --sidebar-border: theme("colors.customgreys.secondarybg");
    --sidebar-ring: theme("colors.primary.700");
    --popover: theme("colors.customgreys.primarybg");
    --popover-foreground: theme("colors.white.50");

    --background: theme("colors.customgreys.primarybg");
    --foreground: theme("colors.white.50");

    --primary: theme("colors.primary.700");
    --primary-foreground: theme("colors.white.50");

    --muted: theme("colors.primary.600");
    --muted-foreground: theme("colors.customgreys.dirtyGrey");

    --accent: theme("colors.primary.600");
    --accent-foreground: theme("colors.white.50");

    --border: theme("colors.customgreys.secondarybg");
    --ring: theme("colors.primary.700");

    --card: theme("colors.customgreys.primarybg");
    --card-foreground: theme("colors.white.50");
  }

  .dark {
    --sidebar-background: theme("colors.customgreys.primarybg");
    --sidebar-foreground: theme("colors.white.50");
    --sidebar-primary: theme("colors.primary.700");
    --sidebar-primary-foreground: theme("colors.white.50");
    --sidebar-accent: theme("colors.customgreys.darkerGrey");
    --sidebar-accent-foreground: theme("colors.customgreys.dirtyGrey");
    --sidebar-border: theme("colors.customgreys.secondarybg");
    --sidebar-ring: theme("colors.primary.700");
    --popover: theme("colors.customgreys.primarybg");
    --popover-foreground: theme("colors.white.50");

    --background: theme("colors.customgreys.primarybg");
    --foreground: theme("colors.white.50");

    --primary: theme("colors.primary.700");
    --primary-foreground: theme("colors.white.50");

    --muted: theme("colors.primary.600");
    --muted-foreground: theme("colors.customgreys.dirtyGrey");

    --accent: theme("colors.primary.600");
    --accent-foreground: theme("colors.white.50");

    --border: theme("colors.customgreys.secondarybg");
    --ring: theme("colors.primary.700");

    --card: theme("colors.customgreys.primarybg");
    --card-foreground: theme("colors.white.50");
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.child__container {
  @apply h-[400px] w-full;
}

.child__amount {
  @apply font-medium;
}

.child__table {
  @apply text-customgreys-blueGrey min-h-[200px];
}

.child__table-header {
  @apply bg-customDarkBlue;
}

.child__table-header-row {
  @apply border-none text-white-50;
}

.child__table-cell {
  @apply border-none p-4 text-sm;
}

.child__table-row {
  @apply border-none;
}

.child__table-row:hover {
  @apply bg-customgreys-primarybg;
}

.child__table-body {
  @apply bg-customgreys-primarybg min-h-[240px];
}

/* Calendar */
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  /* display: none !important; */
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}
