@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @apply text-sm;
  @apply text-gray-300;
  @apply bg-customgreys-primarybg;
}

@layer base {
  :root {
    --sidebar-background: theme("colors.customgreys.primarybg");
    --sidebar-foreground: theme("colors.white.50");
    --sidebar-primary: theme("colors.primary.700");
    --sidebar-primary-foreground: theme("colors.white.50");
    --sidebar-accent: theme("colors.customgreys.darkerGrey");
    --sidebar-accent-foreground: theme("colors.customgreys.dirtyGrey");
    --sidebar-border: theme("colors.customgreys.secondarybg");
    --sidebar-ring: theme("colors.primary.700");
    --popover: theme("colors.customgreys.primarybg");
    --popover-foreground: theme("colors.white.50");

    --background: theme("colors.customgreys.primarybg");
    --foreground: theme("colors.white.50");

    --primary: theme("colors.primary.700");
    --primary-foreground: theme("colors.white.50");

    --muted: theme("colors.primary.600");
    --muted-foreground: theme("colors.customgreys.dirtyGrey");

    --accent: theme("colors.primary.600");
    --accent-foreground: theme("colors.white.50");

    --border: theme("colors.customgreys.secondarybg");
    --ring: theme("colors.primary.700");

    --card: theme("colors.customgreys.primarybg");
    --card-foreground: theme("colors.white.50");
  }

  .dark {
    --sidebar-background: theme("colors.customgreys.primarybg");
    --sidebar-foreground: theme("colors.white.50");
    --sidebar-primary: theme("colors.primary.700");
    --sidebar-primary-foreground: theme("colors.white.50");
    --sidebar-accent: theme("colors.customgreys.darkerGrey");
    --sidebar-accent-foreground: theme("colors.customgreys.dirtyGrey");
    --sidebar-border: theme("colors.customgreys.secondarybg");
    --sidebar-ring: theme("colors.primary.700");
    --popover: theme("colors.customgreys.primarybg");
    --popover-foreground: theme("colors.white.50");

    --background: theme("colors.customgreys.primarybg");
    --foreground: theme("colors.white.50");

    --primary: theme("colors.primary.700");
    --primary-foreground: theme("colors.white.50");

    --muted: theme("colors.primary.600");
    --muted-foreground: theme("colors.customgreys.dirtyGrey");

    --accent: theme("colors.primary.600");
    --accent-foreground: theme("colors.white.50");

    --border: theme("colors.customgreys.secondarybg");
    --ring: theme("colors.primary.700");

    --card: theme("colors.customgreys.primarybg");
    --card-foreground: theme("colors.white.50");
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.child__container {
  @apply h-[400px] w-full;
}

.child__amount {
  @apply font-medium;
}

.child__table {
  @apply text-customgreys-blueGrey min-h-[200px];
}

.child__table-header {
  @apply bg-[#5C5470];
}

.child__table-header-row {
  @apply border-none text-white-50;
}

.child__table-cell {
  @apply border-none p-4 text-sm text-foreground;
}

.child__table-row {
  @apply border-none;
}

.child__table-row:hover {
  @apply bg-customgreys-blueGrey;
}

.child__table-body {
  @apply bg-customgreys-primarybg min-h-[240px];
}

/* Calendar */
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.rbc-btn-group:first-child button {
  /* display: none !important; */
  color: #f1f0ff;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header-content {
  /* display: none !important; */
  @apply bg-[#5C5470] text-white-50;
}

.rbc-time-header.rbc-overflowing {
  margin: 0 !important;
}

.rbc-header {
  @apply h-10 flex justify-center items-center;
}

.rbc-button-link {
  @apply text-sm;
}

.rbc-header.rbc-today {
  @apply h-10 bg-[#3C415C];
}

.rbc-overflowing {
  @apply m-0;
}

.rbc-row-bg {
  display: block !important;
}

.rbc-day-bg.rbc-today {
  background-color: #3c415c;
}

.rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
  /*Màu hôm nay*/
  background-color: #3c415c;
}

.rbc-time-content {
  border: none !important;
  padding: none !important;
  scrollbar-width: none; /* Ẩn trên Firefox */
  -ms-overflow-style: none; /* Ẩn trên IE/Edge */
}

.rbc-label.rbc-time-header-gutter {
  background-color: transparent !important;
  border: 1px white !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
  color: #e2f8ff !important;
}

.rbc-timeslot-group {
  padding: 10px 20px !important;
  background-color: none !important;
}

.rbc-time-slot {
  border: none !important;
  height: 20 !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  box-sizing: border-box !important;
  border: none !important;
  color: black !important;
  padding: 10px !important;
  width: 100% !important;
  display: block !important;
}

.rbc-events-container {
  margin: 0 !important;
}

.rbc-row-content {
  display: none !important;
}

.rbc-event {
  margin: 0 5px !important;
  padding: 2px 8px !important;
  width: 95% !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  color: gray !important;
}

.rbc-btn-group button {
  pointer-events: auto !important;
  opacity: 1 !important;
  z-index: 1000;
}

/* Dialog */
.dialog_content {
  width: 500px;
  max-width: 90vw;
  background-color: #f9f9f9;
  padding: 24px;
  border-radius: 8px;
}

.dialog_title {
  color: #333;
  text-align: center;
}

.dialog_label {
  display: block;
  font-weight: 600;
  color: #444;
  margin-bottom: 4px;
}

.dialog_input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  background-color: white;
  color: #333;
}

.dialog_field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text-red-500 {
  min-height: 18px;
  font-size: 12px;
}

.dialog_buttons {
  display: flex;
  gap: 12px; /* Khoảng cách giữa hai nút */
}

.dialog_button {
  flex: 1; /* Để hai nút có chiều rộng bằng nhau */
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Cancel */
.dialog_button.cancel {
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
}

.dialog_button.cancel:hover {
  background-color: #f5f5f5;
}

/* Confirm */
.dialog_button.confirm {
  background-color: #1d4ed8; /* Màu xanh primary */
  color: white;
}

.dialog_button.confirm:hover {
  background-color: #1e40af; /* Màu đậm hơn khi hover */
}

.dialog_content [data-state="open"] > button {
  display: none;
}

/* Profile */

.detail_info .fieldProfile:nth-child(-n + 2) input {
  @apply bg-transparent shadow-none text-sm text-primary-100 cursor-text;
}

.fieldProfile {
  @apply mb-4;
}

.fieldProfile label {
  @apply flex gap-3 items-center;
}

.fieldProfile svg {
  @apply text-gray-900 bg-primary-100 rounded-full p-1;
}

.fieldProfile span {
  @apply text-primary-50 text-base;
}
